
      
        <h1 id="allArtistsHeader"
            style="padding-left: 10px; background-color:#99738E; color: #fff;text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;">
            All Artists</h1>

        <div class='container'>
            <div class="row">
                {{#each artists}}
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <img src="{{this.image}}" alt='Artist Profile Picture' style="width: 300px; height: 300px;" />
                    <br>
                    <h3>{{this.stage_name}}</h3>
                    <p>Real Name: {{this.first_name}} {{this.last_name}}</p>
                    <p>Genre: {{this.genre}}</p>
                    <p>Location: {{this.city}}</p>
                    <a href="/artist/{{this.id}}"><button class="btn btn-danger" style="background-color:#F64c72" data-id={{this.id}}>Jump to
                            Profile</button></a>
                    <hr>
                </div>
                {{/each}}
            </div>



