<h1>{{artist.first_name}} {{artist.last_name}}</h1>

<aside>
    <h4><strong>Artist Info</strong></h4>
    <p>Stage Name: {{artist.stage_name}}</p>
    <p>Genre: {{artist.genre}}</p>
    <p>Location: {{artist.city}}</p>
    <p>Email: {{artist.email}}</p>

</aside>