<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="container" id="artistNameBold">
                <div class="row">
                    <h3>{{artist.stage_name}}</h3>
                    <aside>
                        <img id="profilePic" src="{{artist.image}}" width="200" height="200" alt="Profile Picture"
                            data-bs-toggle="tooltip" data-bs-placement="right" data-id={{artist.id}}
                            title="Click to Change Profile Picture">
                            <hr>
                        <p id="boldInfo">NAME: {{artist.first_name}} {{artist.last_name}}</p>
                        <p id="boldInfo">{{artist.city}}</p>
                        <p id="boldInfo">{{artist.genre}}</p>
                    </aside>
                </div>
                <!--Add extra information to profile Modal -->
                <div class="modal fade" id="customInfo" tabindex="-1" aria-labelledby="extraInfo" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="formInputTitles">Additonal Information</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="extras" data-id={{artist.id}}>
                                    <div class="mb-3">
                                        <label for="bio" class="col-form-label" id="formInputTitles">Bio: </label>
                                        <textarea type="text" class="form-control" id="bio"
                                            placeholder="Tell us about yourself! (Limit 500 Characters)"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="bandcamp" class="col-form-label" id="formInputTitles">Bandcamp:
                                        </label>
                                        <input type="text" class="form-control" id="bandcamp"
                                            placeholder="Bandcamp link">
                                    </div>
                                    <div class="mb-3">
                                        <label for="twitch" class="col-form-label" id="formInputTitles">Twitch: </label>
                                        <input type="text" class="form-control" id="twitch" placeholder="Twitch link">
                                    </div>
                                    <div class="mb-3">
                                        <label for="discogs" class="col-form-label" id="formInputTitles">Discogs:
                                        </label>
                                        <input type="text" class="form-control" id="discogs" placeholder="Discogs link">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" id="saveExtrasBtn">Save
                                            Changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container" id="extrasFeed">
                        <div class="row">
                            <h5 id="aboutArtistProfile">About {{artist.stage_name}}:</h5>
                        </div>
                        <div class="row">
                            {{#unless extras}}
                            <div class="container" id="customAboutMe">
                                <p>Add a bio and some external links to your profile!</p>
                            </div>
                            <button type="button" class="btn btn-default" id="editInfoBtn" data-id={{artist.id}}
                                data-bs-toggle="modal" data-bs-target="#customInfo">
                                Edit Profile
                            </button>
                            {{/unless}}
                            {{#if extras}}
                            {{#each extras}}
                            <div class="container">
                                <div class="row">
                                    {{!-- <h4>About Me:</h4> --}}
                                    <p>{{this.dataValues.bio}}</p>
                                </div>
                                <div class="row">
                                    {{!-- <h4>Links:</h4> --}}
                                    <p>Bandcamp: <a id="extrasLinks" href="{{this.dataValues.bandcamp}}"
                                            target="_blank">{{this.dataValues.bandcamp}}</a>
                                    </p>
                                    <p>Twitch: <a  id="extrasLinks" href="{{this.dataValues.twitch}}"
                                            target="_blank">{{this.dataValues.twitch}}</a>
                                    </p>
                                </div>
                                <div class="row">
                                    <p>Discogs: <a  id="extrasLinks" href="{{this.dataValues.discogs}}"
                                            target="_blank">{{this.dataValues.discogs}}</a></p>
                                </div>
                            </div>
                            <button type="button" class="btn btn-default" id="remixInfoBtn" data-id={{artist.id}}
                                data-bs-toggle="modal" data-bs-target="#customInfo">
                                Edit Profile
                            </button>
                            {{/each}}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal for editing Extras info -->
        <div class="modal fade" id="remixInfoModal" tabindex="-1" aria-labelledby="remix" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="remix">Profile Remix</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="remixForm" data-id={{artist.id}}>
                            <div class="mb-3">
                                <label for="remixBio" class="col-form-label">Bio:</label>
                                <textarea class="form-control" id="remixBio"
                                    placeholder="Tell us about yourself! (Limit 500 Characters)">
                                        </textarea>
                            </div>
                            <div class="mb-3">
                                <label for="remix-bandcamp" class="col-form-label">Bandcamp: </label>
                                <input type="text" class="form-control" id="remix-bandcamp" placeholder="Bandcamp">
                            </div>
                            <div class="mb-3">
                                <label for="remix-twitch" class="col-form-label">Twitch: </label>
                                <input type="text" class="form-control" id="remix-twitch" placeholder="Twitch">
                            </div>
                            <div class="mb-3">
                                <label for="remix-discogs" class="col-form-label">Discogs: </label>
                                <input type="text" class="form-control" id="remix-discogs" placeholder="Discogs">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="remixExtrasBtn">Remix</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="container" id="blogFeed">
                <div class="row">
                    <h2 id="profilePosts">Your Feed</h2>
                    <button type="button" class="btn btn-default" id="newBlogBtn" data-id={{artist.id}}
                        data-bs-toggle="modal" data-bs-target="#blogPost">
                        Create Post
                    </button>
                </div>
                <hr>
                <div class="row">
                    {{#unless blog}}
                    <div class="container" id="blogText">
                        <h5>-- Empty --</h5><br>
                        <p>Tell Your Fans What's Goin' On!</p>
                    </div>
                    {{/unless}}
                    {{#if blog}}
                    {{#each blog}}
                    <div class="container" style="background-color: #99738E;">
                        
                        <h4 id="blogTitle" >{{this.dataValues.title}}</h4>
                        <p style="font-size: 20px;">{{this.dataValues.body}}</p>
                        <p style="font-size: 8px;" id="createdAt">{{moment this.dataValues.createdAt "fromNow"}}</p>
                        <i id="editPostBtn" data-id={{this.dataValues.id}}
                                class="fas fa-pencil-alt"></i>
                        <i id="deletePostBtn" data-id={{this.dataValues.id}}
                                class="fa fa-trash"></i>
                    </div>
                    <hr>
                    <!-- For Editing Blog Posts -->
                    <div class="modal fade" id="editPost" tabindex="-1" aria-labelledby="blogEntry" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="blogEntry">Edit Post</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="editBlog">
                                        <div class="mb-3">
                                            <label for="recipient-name" class="col-form-label">Title:</label>
                                            <input type="text" class="form-control" id="editPostTitle">
                                        </div>
                                        <div class="mb-3">
                                            <label for="message-text" class="col-form-label">Message:</label>
                                            <textarea class="form-control" id="editPostBody"></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary saveChanges">Save
                                                Changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--For Deleting Posts -->
                    <div class="modal" id="confirmDelete" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Delete Post?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete this post forever?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" id="deleteBtn"
                                        class="btn btn-primary deletePost">Confirm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    {{/if}}
                    <div class="modal fade" id="blogPost" tabindex="-1" aria-labelledby="blogEntry" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="blogEntry">What's Happening?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="blogForm" data-id={{artist.id}}>
                                        <div class="mb-3">
                                            <label for="recipient-name" class="col-form-label">Title:</label>
                                            <input type="text" class="form-control" id="blogPostTitle">
                                        </div>
                                        <div class="mb-3">
                                            <label for="message-text" class="col-form-label">Message:</label>
                                            <textarea class="form-control" id="blogPostBody"></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" id="savePostBtn">Save
                                                Post</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End of 'blog feed' container -->
           <br><br>
            <div class="container" id="mixesContainer">
                <div class="row">
                    <h2 id="profilePosts">Your Mixes</h2>
                    <button type="button" class="btn btn-default" id="newMixBtn" data-id={{artist.id}}
                        data-bs-toggle="modal" data-bs-target="#newMixModal">
                        Add Audio/Video
                    </button>
                </div>
                <hr>
                <div class="row">
                    {{#unless mixes}}
                    <div class="container" id="newMixText">
                        <h5>-- Empty --</h5><br>
                        <p>Embedd Audio/Video Mix For Your Fans!</p>
                    </div>
                    {{/unless}}
                    {{#if mixes}}
                    <div id="mixesCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {{#each mixes}}
                            {{#if @first}}
                            <div class="carousel-item active">
                                <div class="ratio ratio-16x9">
                                    {{{ this.dataValues.url}}}
                                </div>
                            </div>
                            {{else}}

                            <div class="carousel-item">
                                <div class="ratio ratio-16x9">
                                    {{{ this.dataValues.url}}}
                                </div>
                            </div>
                            {{/if}}
                            {{/each}}
                        </div>


                        <button class="carousel-control-prev" type="button" data-bs-target="#mixesCarousel"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span style="color: #ffffff;">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#mixesCarousel"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span style="color: #ffffff;">Next</span>
                        </button>
                    </div>
                    <button type="button" class="btn btn-default" id="deleteMixBtn" data-id={{artist.id}}
                        data-bs-toggle="modal" data-bs-target="#deleteMixModal">
                        Remove a Mix
                    </button>
                    {{/if}}
                </div>
            </div>
            <!--Adding Mixes Modal-->
            <div class="modal fade" id="newMixModal" tabindex="-1" aria-labelledby="mixes" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="mixes">Mixology 101</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="newMixForm" data-id={{artist.id}}>
                                <div class="mb-3">
                                    <label for="newMixURL" class="col-form-label">Enter Embed Code:</label>
                                    <input type="text" class="form-control" id="newMixURL" placeholder="Grab Embed Link From YouTube">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="addMixBtn">Add Mix</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--Delete Mix Modal-->
            <div class="modal fade" id="deleteMixModal" tabindex="-1" aria-labelledby="deleteMix" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteMix">Not Digging It?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="deleteMixForm" data-id={{artist.id}}>
                                <div class="mb-3">
                                    <label for="deleteMixURL" class="col-form-label">Enter Embed Link of Mix You Wish To
                                        Delete:</label>
                                    <input type="text" class="form-control" id="deleteMixURL"
                                        placeholder="Embed Link of Mix You're Just Not Feeling">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="confirmDeleteMix">Delete
                                        Mix</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of col-9 -->
    </div>
    <!--end of row -->
</div>
<div class="modal fade" id="profilePicModal" tabindex="-1" aria-labelledby="editPic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPic">Choose Profile Picture</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editPicForm">
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Picture URL:</label>
                        <input class="form-control" id="newPicURL"></input>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="savePictureBtn">Save
                            Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>