<h1>{{artist.first_name}} {{artist.last_name}}</h1>

<aside>
    <h4><strong>Artist Info</strong></h4>
    <p>Stage Name: {{artist.stage_name}}</p>
    <p>Genre: {{artist.genre}}</p>
    <p>Location: {{artist.city}}</p>
    <p>Email: {{artist.email}}</p>

</aside>

<button type="button" class="btn btn-primary" id="newBlogBtn" data-bs-toggle="modal" data-bs-target="#blogPost">
    Create New Blog Post
</button>

<!-- Modal -->
<div class="modal fade" id="blogPost" tabindex="-1" aria-labelledby="blogEntry" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="blogEntry">What's Happening?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="blogForm" data-id="{{artist.id}}"> 
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Title:</label>
                        <input type="text" class="form-control" id="blogPostTitle">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="blogPostBody"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="savePostBtn" 
                            onclick="this.closest('form').submit();return false;">Save Post</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<h2>Your Feed</h2>
<div class="container" id="blogFeed"></div>
