<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="row">
                <h3 style="margin-bottom: 10px;">{{artist.stage_name}}</h3>
                <aside>
                    <img id="profilePic" src="{{artist.image}}" width="280" height="280"alt="Profile Picture">
                    <hr>
                    <p>Real Name: {{artist.first_name}} {{artist.last_name}}</p>
                    <p>{{artist.genre}}</p>
                    <p>{{artist.city}}</p>
                </aside>
            </div>
            <div class="row">
                <div class="container" id="extrasFeed">
                    <div class="row">
                        <h4 style="color: #F64C72;">Artist Info</h2>
                    </div>
                    <div class="row">
                        {{#unless extras}}
                        <div class="container" id="customizeProfText">
                            <h6>{{artist.stage_name}} has not added any extras yet.</h6>
                        </div>
                        {{/unless}}

                        {{#if extras}}
                        {{#each extras}}
                        <div class="container">
                            <div class="row">
                                <p>{{this.dataValues.bio}}</p>
                            </div>
                            <div class="row">
                                <h6 style="text-align: left; color: #F64C72">Links:</h6>
                                <p>Bandcamp: <a id="extrasLinks" href="{{this.dataValues.bandcamp}}"
                                        target="_blank">{{this.dataValues.bandcamp}}</a>
                                </p>
                                <p>Twitch: <a id="extrasLinks" href="{{this.dataValues.twitch}}"
                                        target="_blank">{{this.dataValues.twitch}}</a>
                                </p>
                            </div>
                            <div class="row">
                                <p>Discogs: <a id="extrasLinks" href="{{this.dataValues.discogs}}"
                                        target="_blank">{{this.dataValues.discogs}}</a></p>
                            </div>
                        </div>
                        {{/each}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="row">
                <div class="container" id="mixesContainer">
                    <div class="row">
                        <h2 style="color: white;">Mixes</h2>
                    </div>
                    <hr>
                    <div class="row">
                        {{#unless mixes}}
                        <div class="container" id="newMixText">
                            <h5> This artist hasn't updated since, like, forever. Check back later!</h5>
                        </div>
                        {{/unless}}

                        {{#if mixes}}
                        <div id="mixesCarousel" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                {{#each mixes}}
                                {{#if @first}}
                                <div class="carousel-item active">
                                    <div class="ratio ratio-16x9">
                                        {{{ this.dataValues.url}}}
                                    </div>
                                </div>
                                {{else}}

                                <div class="carousel-item">
                                    <div class="ratio ratio-16x9">
                                        {{{ this.dataValues.url}}}
                                    </div>
                                </div>
                                {{/if}}
                                {{/each}}
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#mixesCarousel"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                                <span style="color: #ffffff;">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#mixesCarousel"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon"></span>
                                <span style="color: #ffffff;">Next</span>
                            </button>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="container" id="blogFeed">
                    <h2 style="color: white;">Message Feed</h2>
                </div>
                <hr>
                {{#unless blog}}
                <div class="container" id="blogText">
                    <h5>This artist hasn't updated since, like, forever. Check back later!</h5>
                </div>
                {{/unless}}

                {{#if blog}}
                {{#each blog}}
                <div class="container" style="background-color: #99738E;">
                    <h4 id="blogTitle">{{this.dataValues.title}}</h4>
                    <p style="font-size: 20px;">{{this.dataValues.body}}</p>
                    <p style="font-size: 10px;" id="createdAt">{{moment this.dataValues.createdAt "fromNow"}}</p>
                </div>
                <hr>
                {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
</div>
</div>