<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="row">
                <h3 style="margin-bottom: 10px;">{{artist.stage_name}}</h3>
                <aside>
                    <img id="profilePic" src="{{artist.image}}" width="200" height="200" alt="Profile Picture">
                    <hr>
                    <p >Real Name: {{artist.first_name}} {{artist.last_name}}</p>
                    <p>{{artist.genre}}</p>
                    <p>{{artist.city}}</p>
                </aside>
            </div>
            <div class="row">
                <div class="container" id="extrasFeed">
                    <div class="row">
                        <h4 style="color: #F64C72;">Artist Info</h2>
                    </div>
                    <div class="row">
                        {{#unless extras}}
                        <div class="container" id="customizeProfText">
                            <h6>{{artist.stage_name}} Has Not Customized Any Information.</h6>
                        </div>
                        {{/unless}}

                        {{#if extras}}
                        {{#each extras}}
                        <div class="container">
                            <div class="row">
                                <h4>About {{artist.stage_name}}:</h4>
                                <p>{{this.dataValues.bio}}</p>
                            </div>
                            <div class="row">
                                <h4>Links:</h4>
                                <p>Bandcamp: <a id="extrasLinks" href="{{this.dataValues.bandcamp}}"
                                        target="_blank">{{this.dataValues.bandcamp}}</a>
                                </p>
                                <p>Twitch: <a id="extrasLinks" href="{{this.dataValues.twitch}}"
                                        target="_blank">{{this.dataValues.twitch}}</a>
                                </p>
                            </div>
                            <div class="row">
                                <p>Discogs: <a id="extrasLinks" href="{{this.dataValues.discogs}}"
                                        target="_blank">{{this.dataValues.discogs}}</a></p>
                            </div>
                        </div>
                        {{/each}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="row">
                <div class="container" id="blogFeed">
                    <h2 style="color: white;">Message Feed</h2>
                </div>
                <hr>
                {{#unless blog}}
                <div class="container" id="blogText">
                    <h5>This artist hasn't updated since, like, forever. Check back later!</h5>
                </div>
                {{/unless}}

                {{#if blog}}
                {{#each blog}}
                <div class="container"  style="background-color: #99738E;">
                    <h4 id="blogTitle" >{{this.dataValues.title}}</h4>
                    <p style="font-size: 20px;">{{this.dataValues.body}}</p>
                    <p style="font-size: 8px;" id="createdAt">{{moment this.dataValues.createdAt "fromNow"}}</p>
                </div>
                {{/each}}
                {{/if}}
            </div>
            <br><br>
            <div class="row">
                <div class="container" id="mixesContainer">
                    <div class="row">
                        <h2 style="color: white;">Mixes</h2>
                    </div>
                    <hr>
                    <div class="row">
                        {{#unless mixes}}
                        <div class="container" id="newMixText">
                            <h5> This artist hasn't updated since, like, forever. Check back later!</h5>
                        </div>
                        {{/unless}}

                        {{#if mixes}}
                        <div id="mixesCarousel" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                {{#each mixes}}
                                {{#if @first}}
                                <div class="carousel-item active">
                                    <div class="ratio ratio-16x9">
                                        {{{ this.dataValues.url}}}

                                        <div class="carousel-caption d-none d-md-block d-lg-block">
                                            <h4 style="color: #F64c72">{{this.dataValues.name}}</h4>
                                        </div>
                                    </div>
                                </div>
                                {{else}}

                                <div class="carousel-item">
                                    <div class="ratio ratio-16x9">
                                        {{{ this.dataValues.url}}}

                                        <div class="carousel-caption d-none d-md-block d-lg-block">
                                            <h4 style="color: #F64c72">{{this.dataValues.name}}</h4>
                                        </div>
                                    </div>
                                </div>
                                {{/if}}
                                {{/each}}
                            </div>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>